.container {
    width: 100vw;
    height: 80px;
    background-color: #3f3f3f;
    color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link:hover {
    color: #de3313;
    text-decoration: underline;
}

.link:active {
    color: #fd8302;
    text-decoration: underline;
}